<header>
    <img 
        src="/img/alisson.jpg" 
        alt="Alisson Kauan - Foto de Perfil"
        width="130px"
        height="130px"
        loading="eager"
    />

    <h1>Alisson Kauan</h1>
    
</header>

<aside>
    <div class="container">
        <p>Full-Stack | Angular | NodeJs | .NET </p>
        <p>Osasco, São Paulo, Brasil</p>
        <p>
            Estou na área de tecnologia a 2 anos, tendo atuado como desenvolvedor FullStadk
            e atualmente como Analista de Sistemas, possuindo experiência tanto na parte técnica do processo
            de desenvolvimento, mas também na parte de negócios, tendo contato direto com o cliente para diversas ações.
        </p>

        <nav>
            <ul>
                <li>
                    <a 
                    href="/icons/" 
                    class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a 
                    href="https://www.linkedin.com/in/alisson-kauan/" 
                    target="_blank"
                    class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                src="../../../../../assets/icons/whatsapp.svg" 
                alt="Icone para contato do WhatsApp"
                width="22px"
                height="24px"
                >
                <figcaption>
                    <a 
                    href="https://api.whatsapp.com/send?phone=5511968114820&text=Ol%C3%A1%20Alisson,%20preciso%20de%20um%20job!"
                    target="_blank"
                    >
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (11) 9 6811-4820 </p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img 
                src="/icons/mail.svg" 
                alt="Icone para contato do Email"
                width="22px"
                height="24px"
                >
                <figcaption>
                    <a 
                    href="mailto:alisson.kauan77@gmail.com"
                    target="_blank"
                    >
                        <strong>Envie uma email para:</strong>
                        <p>Email: Alisson.kauan77&#64;gmail.com </p>
                    </a>
                </figcaption>
            </figure>

        </section>
    </div>
</aside>
