:root {
    --primary: #259cac;
    --primary-010: #24666e;

    --secondary: #2fbf53;
    --secondary-010: #21904d;

    --white: #fff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #9b9ba0;
}